# Pandas 数据 可视化

### 这个文件主要简单讲解了用pandas对数据的一些操作，使用一些内置的pandas的函数来实现Excel里的功能，然后可视化这些数据
1. 如何创建一个DataFrame
        在pandas中，DataFrame的概念就和Excel里的table概念一样，DataFrame是有不同的Series组成，Series是由不同的values组成
2. 如何将外部数据读取成pandas可以操作的DataFrame
3. 行和列的基本概念， 然后如何操作他们
4. 如何生成Series，并把他们合并成一个DataFrame

In [1]:
import pandas as pd

# 忽略警告
import warnings
warnings.filterwarnings("ignore")



## 创建一个DataFrame
<div style='background-color:#1abc9c'>
    <br>
    </div>

In [2]:
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Name': ['Xiao', 'Mashy', 'Harry']})

- 将DataFrame 的索引变成 ID

In [3]:
df1 = df1.set_index('ID')

- 把DataFrame到出为Excel文件

In [10]:
df1.to_excel('.\datas\output.xlsx')

<div style='background-color:#3498db'>
    <br>
    </div>
    
## 数据读取 1     
使用文件`people.xlsx`

- **pandas 读取数据的时候默认是从不是空白的第0行开始**  
使用参数`header = `来修改从哪开始读取

In [15]:
# 读取数据
people = pd.read_excel('datas\People.xlsx', header=0)

FileNotFoundError: [Errno 2] No such file or directory: 'datas\\People.xlsx'

### 显示DataFrame的shape 和 columns

In [16]:
print(people.shape)
print(people.columns)

NameError: name 'people' is not defined

In [17]:
# 把index 设置成`D
people.set_index('ID', inplace=True)
# 显示dataframe 的前5行（默认前5rows，可以更改参数）
display(people.head(3))

NameError: name 'people' is not defined

### 读取没有header的文件
当读取的Excel没有header的时候需要将参数设置为`header = None`  
pandas 会**自动生成**从`0`开始的整数作为header  
使用下列方法来手动设置header
```py
df.columns = ['ID','Type',...]
```

<div style='background-color:#81ecec'>
    <br>
    </div>
    
## Rows & Columns 的操作 1

In [18]:
# 字典
d = {'x': 100, 'y': 200, 'z': 300}

# 把字典转换成一个Series对象
s1 = pd.Series(d)
# print
print(s1)

x    100
y    200
z    300
dtype: int64

In [19]:
# Index
print(s1.index)

Index(['x', 'y', 'z'], dtype='object')

In [20]:
# Values
print(s1.values)

[100 200 300]

-----------
### 方法2

In [21]:
# 生成两个list
L1 = [100, 200, 300]
L2 = ['x', 'y', 'z']

In [22]:
s1 = pd.Series(L1, index=L2)
# 也可以直接
s1 = pd.Series([100, 200, 300], index=['x', 'y', 'z'])

<div style='background-color:#fab1a0'>
    <br>
    </div>
    
## 将Series合并成DataFrame

In [23]:
# 生成三个Series
s1 = pd.Series([1, 2, 3], index=['1st', '2nd', '3rd'], name='A')
s2 = pd.Series([10, 20, 30], index=['1st', '2nd', '3rd'], name='B')
s3 = pd.Series([100, 200, 300], index=['1st', '2nd', '3rd'], name='C')

In [24]:
# 以字典的形式合并成DataFrame
df_d = pd.DataFrame({
    s1.name: s1,
    s2.name: s2,
    s3.name: s3
})

# print
df_d

     A   B    C
1st  1  10  100
2nd  2  20  200
3rd  3  30  300

In [25]:
# 以List的形式合并成DataFrame
df_l = pd.DataFrame([
    s1,
    s2,
    s3
])

# print
df_l

   1st  2nd  3rd
A    1    2    3
B   10   20   30
C  100  200  300

<div style='background-color:#ffeaa7'>
    <br>
    </div>

## Pandas的自动填充    
使用文件`Books.xlsx`

In [26]:
books = pd.read_excel('datas\Books.xlsx',)

FileNotFoundError: [Errno 2] No such file or directory: 'datas\\Books.xlsx'

In [27]:
books

NameError: name 'books' is not defined

### 由上面的结果可以发现pandas并不能跳过空值, 这时候就需要在读取的时候调用两个参数
```py
pd.read_excel('datas\Books.xlsx', skiprows = 3 , usecols = 'C : F')
```

In [28]:
books = pd.read_excel('datas\Books.xlsx', skiprows=3, usecols='C:F', dtype={
                      'ID': str, 'InStore': str, 'Date': str})
type(books.ID)

FileNotFoundError: [Errno 2] No such file or directory: 'datas\\Books.xlsx'

- 已知可以通过这种方式来进行修改某个cell的值
```py
books.ID[0] = 100
```

则，我们可以通过以index来进行**循环**的操作

In [29]:
from datetime import date, timedelta
# 设置初始日期
start = date(2018, 1, 1)


for i in books.index:
    books.at[i, 'ID'] = i + 1  # DataFrame.at[row,column]
    books['InStore'][i] = 'Yes' if i % 2 == 0 else 'No'
    books['Date'][i] = start + timedelta(i)


books.set_index('ID', inplace=True)
# print
books

NameError: name 'books' is not defined

<div style='background-color:#ff7675'>
    <br>
    </div>
    
## Pandas的函数填充    
使用文件`Books_price.xlsx`

In [30]:
books = pd.read_excel('datas/Books_price.xlsx')
books.head()

   ID      Name  ListPrice  Discount  Price
0   1  Book_001         10       0.5    NaN
1   2  Book_002         20       0.5    NaN
2   3  Book_003         30       0.5    NaN
3   4  Book_004         40       0.5    NaN
4   5  Book_005         50       0.5    NaN

In [31]:
books['Price'] = books['ListPrice'] * books['Discount']
books.head()

   ID      Name  ListPrice  Discount  Price
0   1  Book_001         10       0.5    5.0
1   2  Book_002         20       0.5   10.0
2   3  Book_003         30       0.5   15.0
3   4  Book_004         40       0.5   20.0
4   5  Book_005         50       0.5   25.0

In [32]:
#乘以手动输入的值
books['New Price'] = books['ListPrice'] * 0.8
#print
books.head()

   ID      Name  ListPrice  Discount  Price  New Price
0   1  Book_001         10       0.5    5.0        8.0
1   2  Book_002         20       0.5   10.0       16.0
2   3  Book_003         30       0.5   15.0       24.0
3   4  Book_004         40       0.5   20.0       32.0
4   5  Book_005         50       0.5   25.0       40.0

In [33]:
#使用迭代的方法实现相同效果 (cell对cell操作)
books = pd.read_excel('datas/Books_price.xlsx')

#书涨价 5元
books['ListPrice'] = books['ListPrice'] + 5

for i in range(5,16):
    books.Price[i] = books.ListPrice[i] * books.Discount[i]

#print    
books

    ID      Name  ListPrice  Discount  Price
0    1  Book_001         15       0.5    NaN
1    2  Book_002         25       0.5    NaN
2    3  Book_003         35       0.5    NaN
3    4  Book_004         45       0.5    NaN
4    5  Book_005         55       0.5    NaN
5    6  Book_006         65       0.5   32.5
6    7  Book_007         75       0.5   37.5
7    8  Book_008         85       0.5   42.5
8    9  Book_009         95       0.5   47.5
9   10  Book_010        105       0.5   52.5
10  11  Book_011        115       0.5   57.5
11  12  Book_012        125       0.5   62.5
12  13  Book_013        135       0.5   67.5
13  14  Book_014        145       0.5   72.5
14  15  Book_015        155       0.5   77.5
15  16  Book_016        165       0.5   82.5
16  17  Book_017        175       0.5    NaN
17  18  Book_018        185       0.5    NaN
18  19  Book_019        195       0.5    NaN
19  20  Book_020        205       0.5    NaN



#### 也可以使用这种方法才更改值


```py
pd.Series.apply(func)
```

In [34]:

books = pd.read_excel('datas/Books_price.xlsx')
books['ListPrice'] = books['ListPrice'].apply(lambda x: x+2)
books.head()

   ID      Name  ListPrice  Discount  Price
0   1  Book_001         12       0.5    NaN
1   2  Book_002         22       0.5    NaN
2   3  Book_003         32       0.5    NaN
3   4  Book_004         42       0.5    NaN
4   5  Book_005         52       0.5    NaN

<div style='background-color:#273c75'>
    <br>
    </div>

## Pandas排序

In [35]:
products = pd.read_excel("datas/X007.xlsx", index_col='ID')
products.head()

           Name  Price Worthy
ID
1   Product_001   9.82    Yes
2   Product_002  11.99    Yes
3   Product_003   9.62     No
4   Product_004  11.08    Yes
5   Product_005   7.75    Yes

- 调用这个函数来对某个column的值进行排序
```py
df.sort_values()
```
可以使用的参数有:
1. `by = `填字符串，来表明以那个column来排序
2. `axis =`
3. `ascending = ` 当True的时候是从小到大， False是从大到小
4.  `inplace = ` 默认值是False，如果等于True则会对源DataFrame进行更改
5. `kind = ` 使用排序的方法, 默认是quicksort

In [36]:
products.sort_values(by = 'Price', ascending= False).head()

           Name  Price Worthy
ID
2   Product_002  11.99    Yes
17  Product_017  11.95    Yes
18  Product_018  11.22     No
8   Product_008  11.14    Yes
4   Product_004  11.08    Yes

### 注意

如果想对多个columns同时进行排序时，不应多次调用`.sort.values( )`方法，（用为会 **override**） 而是直接使用 

- ```py
by = [column1, column2 ]
```

- ```py
ascending = [bool1 , bool2]
```

In [37]:
products.sort_values(by = ['Worthy' , 'Price'], ascending= [True, False])

           Name  Price Worthy
ID
18  Product_018  11.22     No
15  Product_015  10.31     No
3   Product_003   9.62     No
9   Product_009   8.98     No
6   Product_006   7.34     No
12  Product_012   7.29     No
2   Product_002  11.99    Yes
17  Product_017  11.95    Yes
8   Product_008  11.14    Yes
4   Product_004  11.08    Yes
7   Product_007  10.97    Yes
19  Product_019  10.95    Yes
16  Product_016  10.26    Yes
1   Product_001   9.82    Yes
10  Product_010   9.18    Yes
14  Product_014   9.16    Yes
20  Product_020   8.82    Yes
13  Product_013   8.36    Yes
11  Product_011   8.31    Yes
5   Product_005   7.75    Yes